* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

div.error > * {
  color: var(--bs-red) !important
}

div.error > input,
div.error > div {
  border-color: var(--bs-red) !important;
}

div#outer {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--bs-gray-100);
  background-image: url(duck.jpg);
  background-size: cover;
  background-position: center;
}

div#inner {
  max-width: 480px;

  background-color: #fff8;
  border-radius: 55px 225px 15px 25px/25px 25px 35px 355px !important;
  box-shadow: 0px 5px 10px var(--bs-gray-300);
}

div#forgot-md {
  float:right;
}

.field-icon {
  float: right;
  margin-right: 0.75rem;
  margin-top: -40px;
  position: relative;
  z-index: 2;
}

h2 {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover{
  color: var(--bs-gray);
}

a.credit {
  color: white;

  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}